.temperature-label {
    color: white; /* Cambia el color del texto a blanco */
    background-color: #333; /* Cambia el color de fondo */
    padding: 5px; /* Agrega relleno para mejorar la apariencia */
  }
  